.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-radius: $radius;
}

h3 {
  font-family: $font-header;
  font-size: 26px;
  font-weight: $font-semibold;
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
}

/* Header */

.home-header {
  margin: 72px 0 36px 0;
}

.row-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: ($base-size/2);
}

.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 300px;
  height: 120px;
  position: relative;

}

.box img {
  width: 300px;
  height: 120px;
  object-fit: cover;
  border-radius: $radius;
}

.box a {
  text-decoration: none;
  color: $color-light;
}

.box p {
  display: none;
}

.box:hover h3 {
  transform: translateY(-50%);
  transition: $transition;
}

.box:hover p {
  transform: translateY(-50%);
  transition: $transition;
  display: inline;
  color: $color-light;
}

.order-booking {
  // transform: translateY(0);
  position: absolute;
  top: 0;
  display: inline-block;
}

.opening-hours {
  width: 600px;
  height: 120px;
  border-radius: $radius;
  background-color: $color-main;
  color: $color-light;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex: 100%;
  margin: auto;
  padding: 0;
}

.light {
  font-weight: $font-light;
  margin: 0;
}

/* Carousel */

.main-carousel {
  height: 300px;
  margin: 50px 0;
  padding: 120px 0;

  &.carousel-cell {
    display: flex;
    width: 100%;
    height: 200px;
    margin-right: 10px;
    display: inline-block;
    counter-increment: gallery-cell;
  }
}

.gallery-img,
.main-carousel img {
  object-fit: cover;
  width: 193px;
  height: 193px;
  border-radius: $radius;

}

.opinion {
  display: inline-block;
}

.opinion-des {
  width: 450px;
  max-width: 60%;
  height: 150px;
  padding: 0 10px 0 40px;
}

.name {
  font-style: italic;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.picture-wrapper {
  position: relative;
  padding: $base-size/4 $base-size/2;
}

.picture-wrapper::after {
  position: absolute;
  width: 193px;
  height: 193px;
  border-radius: $radius;
  content: '';
  background-color: $color-dark;
  opacity: 0;
  z-index: 0;
  top: 0;
}

.picture-wrapper:hover::after {
  position: absolute;
  opacity: 60%;
  display: block;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 193px;
  height: 193px;
  display: inline;
  top: 40%;
  left: 40%;

}

.icons-wrapper a {
  color: $color-light;
  font-size: 20px;
  text-decoration: none;
  //position: absolute;
  z-index: 1;
  padding: 5px;
  //display: inline;
  display: none;
}

.icons-wrapper a:hover {
  color: $color-main;
}

.picture-wrapper:hover .icons-wrapper a{
  display: inline;
  text-decoration: none;
}

/* Instagram Link */

.socials a {
  color: $color-main;
  font-style: $font-normal;
  display: flex;
}